.letra {
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
    display: none;
}

.letra_jogador {
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}

.div_display {
    display: block;
}

#div_forca {
    position: absolute;
    left: 150px;
}

#div_menu button {
    margin-bottom: 10px;
}

/* NÃO FORMATEI A POSIÇÃO DAS IMAGENS POIS NÃO TINHA ELAS */
